body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 640px;
    height: 410px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #e6e6e6;
    box-shadow: 4px 4px 8px 0px #223c5033;
}
.margin {
    position: relative;
    background-color: black;
    width: 3px;
    height: 100px;
    opacity: 0;
}
.m1 {
    height: 80px;
}
.m2 {
    height: 20px;
}
.m3 {
    height: 30px;
}
.input-box {
    position: relative;
    width: 80%;
    margin-left: 10%;
    background-color: #6400000a;
}
.placeholder {
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
    font-size: 18px;
    text-indent: 20px;
    line-height: 30px;
    color: #3f6981;
}
input[type=text] {
    width: calc(100% - 10px);
    height: 40px;
    border: 3px solid #a1d4f1;
    outline: none;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
    font-size: 20px;
    text-indent: 10px;
    color: #3f6981;
}
input[type=text]:focus {
    border: 3px solid #2c88ff;
    color: #2d83b6;
}
#password {
    -webkit-text-security: disc;
}
button {
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
    font-size: 24px;
    color: #3f6981;
    border: none;
    outline: none;
    background-color: #6dc9ff;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
button:hover {
    background-color: #a1d4f1;
    color: #224f69;
}