<!-- Редактировать информацию о клиенте -->
<div class="popup" id="popup-client-edit" style="display: none;">
    <div class="popup-title">Информация о клиенте</div>
    <table class="popup-table">
        <tr>
            <td><span>Имя</span></td>
            <td><input type="text" value="Иван"></td>
        </tr>
        <tr>
            <td><span>Фамилия</span></td>
            <td><input type="text" value="Иванов"></td>
        </tr>
        <tr>
            <td><span>Отчество</span></td>
            <td><input type="text" value="Иванович"></td>
        </tr>
        <tr>
            <td><span>Телефон</span></td>
            <td><input type="text" value="+7 (800) 555 35 35"></td>
        </tr>
        <tr>
            <td><span>Адрес электронной почты</span></td>
            <td><input type="text" value="mail@site.ru"></td>
        </tr>
    </table>
    <p class="popup-p">Паспортные данные</p>
    <table class="popup-table">
        <tr>
            <td><span>Серия</span></td>
            <td><input type="number" value="1111"></td>
        </tr>
        <tr>
            <td><span>Номер</span></td>
            <td><input type="number" value="111111"></td>
        </tr>
        <tr>
            <td><span>Дата выдачи</span></td>
            <td><input type="date"></td>
        </tr>
        <tr>
            <td><span>Дата рождения</span></td>
            <td><input type="date"></td>
        </tr>
    </table>
    <p class="popup-p">Кем выдан</p>
    <textarea class="popup-textarea">Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток</textarea><br>
    <p class="popup-p">Место рождения</p>
    <textarea class="popup-textarea">Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток</textarea><br>
    <p class="popup-p">Адрес проживания</p>
    <textarea class="popup-textarea">Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток</textarea><br>
    <button class="popup-apply">Сохранить</button>
    <button class="popup-cancel" onclick="closePopup();">Отмена</button>
</div>