<!-- Редактировать информацию о услуге -->
<div class="popup" id="popup-service-edit" style="display: none">
  <div class="popup-title">Информация о услуге</div>
  <table class="popup-table">
    <tr>
      <td><span>Наименование</span></td>
      <td>
        <input type="text" value="" id="service-edit-input-service" />
      </td>
    </tr>
    <tr>
      <td><span>Стоимость</span></td>
      <td>
        <input type="number" value="0" min="0" id="service-edit-input-price" />
      </td>
    </tr>
  </table>
  <p class="popup-p">Описание услуги</p>
  <textarea class="popup-textarea" id="service-edit-input-description">
Введите описание</textarea
  ><br />
  <button class="popup-apply" id="service-edit-btn">Сохранить</button>
  <button class="popup-cancel" onclick="closePopup();">Отмена</button>
</div>

<!-- Добавить услугу -->
<div class="popup" id="popup-service-add" style="display: none">
  <div class="popup-title">Добавить услугу</div>
  <table class="popup-table">
    <tr>
      <td><span>Наименование</span></td>
      <td>
        <input type="text" value="" id="service-add-input-service" />
      </td>
    </tr>
    <tr>
      <td><span>Стоимость</span></td>
      <td>
        <input type="number" value="0" min="0" id="service-add-input-price" />
      </td>
    </tr>
  </table>
  <p class="popup-p">Описание услуги</p>
  <textarea class="popup-textarea" id="service-add-input-description">
Введите описание</textarea
  ><br />
  <button class="popup-apply" onclick="addServiceForm();">Добавить</button>
  <button class="popup-cancel" onclick="closePopup();">Отмена</button>
</div>
