<!-- Клиенты -->
<div class="page" id="clients" style="display: none;">
<div class="search">
<input type="text" class="search__input" placeholder="Поиск">
<button class="search__button">Найти</button>
</div>
<table class="employees-table services-table">
<tr class="employees-table__title-row">
    <td style="width: 20px;"><div class="title">#</div></td>
    <td style="width: 150px;"><div class="title">Имя</div></td>
    <td style="width: 150px;"><div class="title">Фамилия</div></td>
    <td style="width: 150px;"><div class="title">Отчество</div></td>
    <td style="width: 150px;"><div class="title">Телефон</div></td>
    <td style="width: 150px;"><div class="title">Дата регистрации</div></td>
    <td style="width: 160px;"><div class="title"></div></td>
</tr>
<tr>
    <td style="width: 20px;"><div class="field">1</div></td>
    <td style="width: 150px;"><div class="field">Иван</div></td>
    <td style="width: 150px;"><div class="field">Иванов</div></td>
    <td style="width: 150px;"><div class="field">Иванович</div></td>
    <td style="width: 150px;"><div class="field">+7 (800) 555 35 35</div></td>
    <td style="width: 150px;"><div class="field">01.01.2021</div></td>
    <td style="width: 160px;"><button onclick="openPopup('popup-client-edit')">Подробнее</button></td>
</tr>
<tr>
    <td style="width: 20px;"><div class="field">2</div></td>
    <td style="width: 150px;"><div class="field">Иван</div></td>
    <td style="width: 150px;"><div class="field">Иванов</div></td>
    <td style="width: 150px;"><div class="field">Иванович</div></td>
    <td style="width: 150px;"><div class="field">+7 (800) 555 35 35</div></td>
    <td style="width: 150px;"><div class="field">01.01.2021</div></td>
    <td style="width: 160px;"><button onclick="openPopup('popup-client-edit')">Подробнее</button></td>
</tr>
<tr>
    <td style="width: 20px;"><div class="field">3</div></td>
    <td style="width: 150px;"><div class="field">Иван</div></td>
    <td style="width: 150px;"><div class="field">Иванов</div></td>
    <td style="width: 150px;"><div class="field">Иванович</div></td>
    <td style="width: 150px;"><div class="field">+7 (800) 555 35 35</div></td>
    <td style="width: 150px;"><div class="field">01.01.2021</div></td>
    <td style="width: 160px;"><button onclick="openPopup('popup-client-edit')">Подробнее</button></td>
</tr>
</table>
</div>