<!-- Договоры -->
<div class="page" id="contracts" style="display: none;">
    <div class="search">
        <input type="text" class="search__input" placeholder="Поиск">
        <button class="search__button">Найти</button>
    </div>
    <table class="employees-table services-table">
        <tr class="employees-table__title-row">
                <td style="width: 20px;"><div class="title">#</div></td>
                <td><div class="title">Тип договора</div></td>
                <td><div class="title">Дата создания договора</div></td>
                <td style="width: 160px;"><div class="title"></div></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">1</div></td>
            <td><div class="field">default</div></td>
            <td><div class="field">01.01.2022</div></td>
            <td style="width: 160px;"><button>Просмотр</button></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">2</div></td>
            <td><div class="field">default</div></td>
            <td><div class="field">01.01.2022</div></td>
            <td style="width: 160px;"><button>Просмотр</button></td>
        </tr>
        <tr>
            <td style="width: 20px;"><div class="field">3</div></td>
            <td><div class="field">default</div></td>
            <td><div class="field">01.01.2022</div></td>
            <td style="width: 160px;"><button>Просмотр</button></td>
        </tr>
    </table>
</div>