<!-- Услуги -->
<div class="page" id="services" style="display: none">
  <table class="employees-table services-table" id="services-container">
    <tr class="employees-table__title-row">
      <td style="width: 20px"><div class="title">#</div></td>
      <td><div class="title">Наименование услуги</div></td>
      <td><div class="title">Стоимость</div></td>
      <td style="width: 160px"><div class="title"></div></td>
      <td style="width: 100px"><div class="title"></div></td>
    </tr>
    <tr>
      <td style="width: 20px"><div class="field">1</div></td>
      <td><div class="field">Услуга</div></td>
      <td><div class="field">300 $</div></td>
      <td style="width: 160px">
        <button onclick="openPopup('popup-service-edit');">
          Редактировать
        </button>
      </td>
      <td style="width: 100px">
        <button class="table-btn__remove">Удалить</button>
      </td>
    </tr>
    <tr>
      <td style="width: 20px"><div class="field">2</div></td>
      <td><div class="field">Услуга</div></td>
      <td><div class="field">300 $</div></td>
      <td style="width: 160px">
        <button onclick="openPopup('popup-service-edit');">
          Редактировать
        </button>
      </td>
      <td style="width: 100px">
        <button class="table-btn__remove">Удалить</button>
      </td>
    </tr>
    <tr>
      <td style="width: 20px"><div class="field">3</div></td>
      <td><div class="field">Услуга</div></td>
      <td><div class="field">300 $</div></td>
      <td style="width: 160px">
        <button onclick="openPopup('popup-service-edit');">
          Редактировать
        </button>
      </td>
      <td style="width: 100px">
        <button class="table-btn__remove">Удалить</button>
      </td>
    </tr>
  </table>
  <button class="employees-btn" onclick="openPopup('popup-service-add')">
    Добавить услугу
  </button>
</div>
